
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="input-group" id="search-input">
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-search"></i>
                          </span>
                <input id="search-by" type="text" class="form-control" ng-model="searchString" aria-label="..." placeholder="Put author name">
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" id="resultContainer">
            <div id="resultsDiv" ng-repeat='data in posts["users"] | filter: searchString'>
                <h1>{{ data.name }}</h1>
                <ul class="list-unstyled" ng-repeat='posts in posts["posts"] ' data-ng-if="posts.userId == data.id">
                    <li>{{ posts.id }} <a href="#/post/{{ posts.id }}">{{ posts.title }}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <script src="js/search-site.js"></script>

